a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-size: 60px;
  padding: 30px 0px 0px 0px;
}

h2 {
  font-size: 60px;
  padding: 0px 0px;
}

h3 {
  position: absolute;
  top: 10px;
  right: 120px;
  font-size: 200px;
  color: rgb(255, 238, 0);
}

p {
  padding: 0px 0px;
}

.container {
  font-family: varela round;
}

.city {
  padding: 20px 0px 5px 0px;
}

.currentTemperature {
  font-size: 15px;
}

#date-display {
  font-size: 25px;
}

.btn-forecast {
  background-color: turquoise;
}

.weekdays {
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

.weather-icons {
  font-size: 40px;
  color: rgb(238, 110, 59);
}

.weather-description {
  padding: 20px 0px 10px 0px;
}

.temperature {
  font-size: 25px;
  font-weight: bold;
}
